#top_banner {
        height: 30px !important;
    background-image: url(https://file.garden/Zkj4Ekt8VXqarrbc/jtalklogobar.png) !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-color: #3b3b3b !important;
      }
#top_banner > a {display: none}
      .senderInfo:has(> .badge) {color: #154cff; font-size: 20px; font-weight: normal}
      .badge {display: none}
      a[href*="red"] {color: red !important; text-decoration: none;}
      a[href*="green"] {color: green !important; text-decoration: none;}
      a[href*="blue"] {color: dodgerblue !important; text-decoration: none;}
      a[href*="yellow"] {color: orange !important; text-decoration: none;}
      
      a[href*="delta"] {outline: 1px solid black;
    border: 2px solid white;
    padding: 5px;
    background-color: black;
    color: white !important;
    text-decoration: none;
    display: inline-block;
    font-family: delta;
    }
    a[href*="delta"]::before {
  content: "* ";
  }
  @font-face {
  font-family: delta;
  src: url(https://file.garden/Zkj4Ekt8VXqarrbc/dark.ttf);
}

h1 {line-height: 30px; font-size: 20px; position: relative; top: 3px;}
      a[href*="subtitle"] {font-size: 11px; opacity: 0.5; text-decoration: none;}

#is_typing {left: calc(100% - 50px) !important}

div.pinned {border-radius: 4px; border: 1px solid #E42B65;}

div.edited > p > p.senderInfo::after {
content: "(edited)";
font-style: italic;
opacity: 0.5;
margin-left: 0.3em;
}

#settings {filter: invert(); margin: 2px}

#settingsWindow {background-color: #3b3b3b;}

#settingsWindow > iframe {backdrop-filter: none !important; filter: invert(1) !important}

#settingsWindow::after{
content: 'To log into an existing account, click the top button, click "Sign up", and then "Log in". Then, enter your username and password. When you’re done, press Close.';
color: black; background-color: rgba(255, 255, 255, 0.5); position: absolute; bottom: 0; left: 0; display: block; width: 100%; padding: 20px; text-align: center; pointer-events: none;
}

#replyBanner {background-color: #cccccc;
    padding: 7px;
    border-radius: 4px 4px 0 0;}

#scrollToBottom {background-color: #cccccc !important; color: black !important}

p.allMessages:has(> pre.msgBody > p > a[href*="name"]) > p.senderInfo {display: none}

p.allMessages:has(> pre.msgBody > p > a[href*="name"]) {margin-top: 5px !important}

a[href*="name"] {font-weight: bold; text-decoration: none;}

a[href*="name"]::after {
content: "RP";
color: white !important;
background-color: #154CFF;
padding: 2px;
border-radius: 4px;
font-size: 10px;
position: relative;
bottom: 1px; left: 4px
}

br {display: none}

.pinned {position: sticky; top: 0; z-index: 2; border-radius: 5px; background-color: white}
